<h1>Authors</h1>
<nav>
  <a href="/">Index</a>
  <a href="/research_papers">Research Papers</a>
  <a href="/citations">Citations</a>
  <a href="/authors">Authors</a>
  <a href="/research_papers_authors">Research Papers to Authors</a>
  <a href="/institutions">Institutions</a>
  <a href="/disciplines">Disciplines</a>
</nav>

<table id="authors-table">
  <thead>

    {{! first row: print each row object key as header cell,
        to depict each column clearly as page renders }}
    <tr>
      {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
      {{/each}}
      <th>delete</th>
    </tr>
  </thead>
  <tbody>
    {{! show the id, first_name, and last_name each row }}
    {{#each data}}
      <tr data-value="{{this.id}}">
        <td>{{this.author_id}}</td>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td><button onclick="deleteAuthor({{this.author_id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script src="./js/delete_author.js"></script>

{{! add record to table with AJAX }}
<h2>Add an Author</h2>
<p>To add a new author, please enter their information below and click 'Submit'!</p>
<form id="add-author-form-ajax">
  <label for="input-first_name">First Name: </label>
  <input type="text" name="input-first_name" id="input-first_name" />

  <label for="input-last_name">Last Name: </label>
  <input type="text" name="input-last_name" id="input-last_name" />

  <input type="submit">
</form>

{{! embed JavaScript for DOM manipulation, AJAX request }}
<script src="./js/add_author.js"></script>

{{!-- add table record with standard HTML --}}
{{!-- <form id="add-author-form" method="POST" action="/add-author-form">
    <label for="input-first_name">First Name: </label>
    <input type="text" name="input-first_name" id="input-first_name">
    
    <label for="input-last_name">Last Name: </label>
    <input type="text" name="input-last_name" id="input-last_name">

    <input type="submit">
</form> --}}