<h1>Citations</h1>
<nav>
	<a href="/">Index</a>
	<a href="/research_papers">Research Papers</a>
	<a href="/citations">Citations</a>
	<a href="/authors">Authors</a>
	<a href="/research_papers_authors">Research Papers to Authors</a>
	<a href="/institutions">Institutions</a>
	<a href="/disciplines">Disciplines</a>
</nav>

<table id="citations-table">
	<thead>
		<tr>
			{{#each data.[0]}}
				<th>{{@key}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each data}}
			<tr>
				<td>{{this.citation_id}}</td>
				<td>{{this.citing_paper_id}}</td>
				<td>{{this.cited_paper_id}}</td>
				<td><button onclick="deleteCitation({{this.citation_id}})">Delete</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>

<script src="./js/delete_citation.js"></script>

{{! CRUD operations }}
<h2>Add</h2>
<form id="add-citation-form-ajax">
	<label for="input-citing_paper">Citing Paper:</label>
	<select name="input-citing_paper" id="citingPaperSelect">
		<option value="input-citing_paper">Select citing paper</option>
		{{#each citing_papers}}
			<option value="{{this.research_paper_id}}">{{this.title}}</option>
		{{/each}}
	</select>
	<label for="input-cited_paper">Cited Paper:</label>
	<select name="input-cited_paper" id="citedPaperSelect">
		<option value="input-cited_paper">Select cited paper</option>
		{{#each citing_papers}}
			<option value="{{this.research_paper_id}}">{{this.title}}</option>
		{{/each}}
	</select>
	<input type="submit" />
</form>

<script src="./js/add_citation.js"></script>

<h2>Update</h2>
<form id="update-citation-form-ajax">
	<label for="input-citing_paper">Citation ID:</label>
	<select name="input-citing_paper" id="citationIDUpdate">
		<option value="input-citing_paper">Select a citation ID</option>
		{{#each data}}
			<option value="{{this.citation_id}}">{{this.citation_id}}</option>
		{{/each}}
	</select>

	<label for="input-citing_paper">Citing Paper:</label>
	<select name="input-citing_paper" id="citingPaperUpdate">
		<option value="input-citing_paper">Select citing paper</option>
		{{#each citing_papers}}
			<option value="{{this.research_paper_id}}">{{this.title}}</option>
		{{/each}}
	</select>

	<label for="input-cited_paper">Cited Paper:</label>
	<select name="input-cited_paper" id="citedPaperUpdate">
		<option value="input-cited_paper">Select cited paper</option>
		{{#each citing_papers}}
			<option value="{{this.research_paper_id}}">{{this.title}}</option>
		{{/each}}
	</select>
	<input type="submit" />
</form>

<script src="./js/update_citation.js"></script>

