<h1>Citations</h1>
<nav>
	<a href="/">Index</a>
	<a href="/research_papers">Research Papers</a>
	<a href="/citations">Citations</a>
	<a href="/authors">Authors</a>
	<a href="/research_papers_authors">Research Papers to Authors</a>
	<a href="/institutions">Institutions</a>
	<a href="/disciplines">Disciplines</a>
</nav>

<table class="citations-table">
	<thead>
		<tr>
			{{#each data.[0]}}
				<th>{{@key}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each data}}
			<tr>
				<td>{{this.citation_id}}</td>
				<td>{{this.citing_paper_id}}</td>
				<td>{{this.cited_paper_id}}</td>
				<td><button>Delete</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{! CRUD operations }}
<h2>Add</h2>
<form>
	<label for="input-citing_paper">Citing Paper:</label>
	<select name="input-citing_paper" id="input-citing_paper">
		<option value="paperSelect">Select citing paper</option>
		{{#each citing_papers}}
			<option value="{{this.research_paper_id}}">{{this.title}}</option>
		{{/each}}
	</select>
	<label for="input-cited_paper">Cited Paper:</label>
	<select name="input-cited_paper" id="input-cited_paper">
		<option value="paperSelect">Select cited paper</option>
		{{#each cited_papers}}
			<option value="{{this.research_paper_id}}">{{this.title}}</option>
		{{/each}}
	</select>
	<input type="submit" />
</form>

<h2>Update</h2>