<h1>Research Papers</h1>
<nav>
	<a href="/">Index</a>
	<a href="/research_papers">Research Papers</a>
	<a href="/citations">Citations</a>
	<a href="/authors">Authors</a>
	<a href="/research_papers_authors">Research Papers to Authors</a>
	<a href="/institutions">Institutions</a>
	<a href="/disciplines">Disciplines</a>
</nav>

<table id="research_papers-table">
	<thead>
		<tr>
			{{#each data.[0]}}
				<th>{{@key}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each data}}
			<tr>
				<td>{{this.research_paper_id}}</td>
				<td>{{this.title}}</td>
				<td>{{this.date_published}}</td>
				<td>{{this.doi}}</td>
				<td>{{this.institution_id}}</td>
				<td>{{this.discipline_id}}</td>
				<td><button
						onclick="deleteResearchPaper({{this.research_paper_id}})"
					>Delete</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{!-- CRUD operations --}}
<h2>Add</h2>
<form id="add-research-paper-form-ajax">
	<label for="input-title">Title: </label>
	<input type="text" name="input-title" id="input-title" />
	<label for="input-date_published">Date Published: </label>
	<input type="date" name="input-date_published" id="input-date_published" />
	<label for="input-doi">DOI: </label>
	<input type="text" name="input-doi" id="input-doi" />
	<label for="input-institution">Institution </label>
	<select name="input-institution" id="institutionIdSelect">
		<option value="test">Select an institution</option>
		{{#each institutions}}
			<option value="{{this.institution_id}}">{{this.name}}</option>
		{{/each}}
	</select>

	<label for="input-discipline">Discipline </label>
	<select name="input-discipline" id="disciplineIdSelect">
		<option value="test">Select a discipline</option>
		{{#each disciplines}}
			<option value="{{this.discipline_id}}">{{this.field}}</option>
		{{/each}}
	</select>
	<br />
	<br />
	<input type="submit" />
</form>

<h2>Update</h2>

<script src="./js/add_research_paper.js"></script>
<script src="./js/delete_research_paper.js"></script>
