<h1>Research Papers</h1>
<nav>
	<a href="/">Index</a>
	<a href="/research_papers">Research Papers</a>
	<a href="/citations">Citations</a>
	<a href="/authors">Authors</a>
	<a href="/research_papers_authors">Research Papers to Authors</a>
	<a href="/institutions">Institutions</a>
	<a href="/disciplines">Disciplines</a>
</nav>

<table id="research_papers-table">
	<thead>
		<tr>
			{{#each data.[0]}}
			<th>{{aliasHeader @key}}</th>
			{{/each}}
		</tr>
	</thead>

	<tbody>
		{{#each data}}
			<tr>
				<td class="research_paper_id-cell">{{this.research_paper_id}}</td>
				<td class="title-cell">{{this.title}}</td>
				<td class="date_published-cell">{{this.date_published}}</td>
				<td class="doi-cell">{{this.doi}}</td>
				<td class="institution_id-cell">{{this.institution_id}}</td>
				<td class="discipline_id-cell">{{this.discipline_id}}</td>
				
				<td class="delete-button-cell">
					<button onclick="deleteResearchPaper({{this.research_paper_id}})">
						Delete
					</button>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{! CRUD operations }}
<div class="add-update-research_papers">
<h2>Add</h2>
<form id="add-research_paper-form-ajax">
	<label for="input-title">Title: </label>
	<input type="text" name="input-title" id="input-title"/>

	<label for="input-date_published">Date Published: </label>
	<input type="date" name="input-date_published" id="input-date_published" />
	
	<label for="input-doi">DOI: </label>
	<input type="text" name="input-doi" id="input-doi" />
	
	<label for="input-institution">Institution: </label>
	<select name="input-institution" id="institutionSelect">
		<option value="input-institution">Select</option>
		{{#each institutions}}
			<option value="{{this.institution_id}}">{{this.name}}</option>
		{{/each}}
	</select>

	<label for="input-discipline">Discipline: </label>
	<select name="input-discipline" id="disciplineSelect">
		<option value="input-discipline">Select</option>
		{{#each disciplines}}
			<option value="{{this.discipline_id}}">{{this.field}}</option>
		{{/each}}
	</select>

	<input type="submit"/>
</form>

<h2>Update</h2>
<form id="update-research_paper-form-ajax">
	<label for="input-title">Existing Title: </label>
	<select name="input-title" id="researchPaperSelect">
	<option value="input-title">Select</option>
	{{#each data}}
		<option value="{{this.research_paper_id}}">{{this.title}}</option>
	{{/each}}
	</select>

	<label for="input-title-update">New Title: </label>
	<input type="text" name="input-title-update" id="input-title-update" />

	<label for="input-date_published-update">Date Published: </label>
	<input type="date" name="input-date_published-update" id="input-date_published-update" />

	<label for="input-doi-update">DOI: </label>
	<input type="text" name="input-doi-update" id="input-doi-update" />

	<label for="input-institution-update">Institution: </label>
	<select name="input-institution-update" id="input-institution-update">
		<option value="input-institution">Select institution</option>
		{{#each institutions}}
			<option value="{{this.institution_id}}">{{this.name}}</option>
		{{/each}}
	</select>

	<label for="input-discipline-update">Discipline </label>
	<select name="input-discipline-update" id="input-discipline-update">
		<option value="input-discipline">Select discipline</option>
		{{#each disciplines}}
			<option value="{{this.discipline_id}}">{{this.field}}</option>
		{{/each}}
	</select>

	<input type="submit" />
</form>
</div>

<script src="./js/add_research_paper.js"></script>
<script src="./js/update_research_paper.js"></script>
<script src="./js/delete_research_paper.js"></script>